<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<p>Click the button to wait 3 seconds, then alert "Hello".</p>-->

<!--<button onclick="myFunction()">Try it</button>-->
<!--<script>-->
<!--var myVar;-->
<!--function myFunction() {-->
<!--  myVar = setTimeout(alertFunc, 3000);-->
<!--}-->

<!--function alertFunc() {-->
<!--    alert(h)-->
<!--}-->

<!--</script>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<body>

h=[10,24,2,45,1]
{% for i in h %}

{% endfor %}
</body>
</html>
